@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@model List<E_Commerce_Web_Application.EF.CategoryBrand>*@

    <main>
        @*// Right Side Navbar

            // Banner
            // Search Field
            // Category
            // Information Box*@

        <div class="container-xxl text-center">
            <div class="row align-items-start">
                <div class="col-sm-0 col-md-3 col-lg-2 col-xl-2 border border-1">
                    @{
// Right Side Navbar Component
//var viewData = new ViewDataDictionary();
//viewData.Add("Categories", ViewBag.Categories);
//viewData.Add("Brands", ViewBag.Brands);
//Html.RenderPartial("_MainCategory", Model, viewData);
                    }
                </div>
                <div class="col-sm-12 col-md-9 col-lg-8  col-xl-8 border border-1 overflow-hidden">
                    @{
                        // Banner Component

                        @*Html.RenderPartial("Component/Home/_Banner");
                        // Search Field
                        <br />
                        Html.RenderPartial("Component/Common/_SearchField");
                        <br />
                        // Category
                        Html.RenderPartial("Component/Common/Category/_Categories", viewData);*@
                    }
                </div>
                <div class="d-none d-lg-block col-sm-0 col-md-0 col-lg-2 col-xl-2  border border-1 overflow-hidden">
                    @{
// Information Box
//Html.RenderPartial("Component/Home/_Information");
                    }
                </div>
            </div>

            <div style="margin-top: 20px;">
                @*// Product Category gula show korbo ..*@
                @{
//var viewData2 = new ViewDataDictionary();
//viewData2.Add("Categories", ViewBag.Categories);
//viewData2.Add("Products", ViewBag.Products);
//viewData2.Add("Brands", ViewBag.Brands);
//Html.RenderPartial("Component/Common/Product/_ProductCategory", viewData2);

//Html.RenderPartial("Component/Common/Product/_ProductCategory");
                }

            </div>
        </div>
    </main>

