<div class="border border-1 ">

    @foreach (var brand in ViewBag.Brands)
    {
        // bg-danger
        <div class="custom-deep-green-color text-start text-center rounded-top " style="margin-top:20px; background-color: darksalmon; width:140px;  border:1px solid red; margin-bottom:2px; margin-left: 30px;">
            @*Product Category Name*@
            @brand.name 
        </div>
        //d-flex flex-row flex-wrap
        <div class="d-flex flex-row" style="width:100%;  overflow-block: hidden;">
            @*ekhane amra Category / Brand er under e jei Product gula ase ..
                shegula print korte hobe ..*@

            @{
                // Product er moddhe map korbo ..
                // jei product er id brand er id er shathe match korbe ..print korbo

                foreach (var product in ViewBag.Products)
                {
                    if (product.brandId == brand.id)
                    {
                        ViewData["Product"] = product;

                        Html.RenderPartial("Component/Common/Product/_ProductCard");
                    }
                }

            }



        </div>
    }


</div>


