
@model E_Commerce_Web_Application.EF.Product
@{
    var product = ViewData["Product"] as E_Commerce_Web_Application.EF.Product;
}

<div class="border border-1">
    
    @*@product.name*@

    @*Lets Design Single Product Card*@ 

    <div class="card" style="width: 200px; height:300px;">
        <div style="height: 190px; object-fit:cover; overflow-block: hidden;">
            @*// for image*@
            <img   src="~/Content/images/home/Products/@product.productImage" class="card-img-top" alt="Product Image Not Found">
            
        </div>
        <div style="height: 110px; overflow-block: hidden;" class="card-body">
            <div>
                @*// Card Title*@
                <h5 class="card-title" style="font-size:18px; display:flex; justify-content:space-between; ">
                    <a style="text-align: left;" target="_blank" href="Product/showOneProductDetails/@product.id">@product.name</a>
                    @*// dropdown Btn*@

                    <a class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @*dropdown Icon*@

                        </a>
                        <ul class="dropdown-menu">
                            @if (Session["userType"] == "Seller" && product.sellerId == Convert.ToInt32(Session["userid"]))
                            {
                                <li><a class="dropdown-item" href="Product/updateOneProductDetails/@product.id">Update Details</a></li>
                                <li><a class="dropdown-item text-danger" href="Product/deleteProduct/@product.id">Delete</a></li>

                            }
                            @if (Session["userType"] == "User")
                            {
                                <li><a class="dropdown-item" href="#">Add To Cart</a></li>
                                <li><a class="dropdown-item" href="#">Add To WishList</a></li>
                            }

                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="User/addToCart/@product.id">Add To Cart</a></li>
                        </ul>
                    </a>
                </h5>
                
            </div>
            <div class="d-flex justify-content-between">
                @*// for price and status*@

                @if (product.price != null)
                {
                    <div class="d-flex">
                        <h6>৳</h6>
                        <h6>@product.price &nbsp;&nbsp;</h6>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;
                    </div>
                    <div class="" > Trending </div>
                    <div>Limited Stock</div>

                }
                else
                {
                    <div>Out of  Stock</div>
                }


            </div>

            @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
            
        </div>
    </div>



</div>