@{
    var category = ViewData["Category"];
}

<div style="" class="border border-1">
    @*overflow-block:hidden;*@

    @*Category*@
    <button style="width: 90px; height:90px; border:1px solid red; border-radius:9px;" class=" d-flex flex-row flex-wrap justify-content-center align-content-center">

        @*flaticon*@
        <img style="width: 40px;" src="~/Content/images/home/category/processor.png" alt="image not found from _SingleCategory.cshtml" />

        @*@ViewBag.category*@
        @category
    </button>
</div>
