@*<div style="overflow-block: hidden;" class="border border-1">*@
    @*Information*@ 
   
        <ul class="list-group bg-danger" style="background-color: #5C99D2; border-radius: 5px;">
            @*Stat About our System*@
            <li class="list-group-item " style="background-color: #5C99D2; ">Total Review 4</li>
            <li class="list-group-item" style="background-color: #5C99D2; ">Total user :  10</li>
            <li class="list-group-item" style="background-color: #5C99D2; ">Total Seller : 4</li>
            <li class="list-group-item" style="background-color: #5C99D2; ">Total product Number : 15</li>
            <li class="list-group-item" style="background-color: #5C99D2;">Total Delevery Number : 3</li>
        </ul>
    
@*</div>*@
